{% extends "base1.html" %}

{% block section %}
<h4>edit page</h4>
	{{ editpost.id }}<br>
	{{ editpost.title }}<br>
	{{ editpost.author_id }}<br>
	{{ editpost.description }}


<form class="form-message" role="form" method="post" action="" }}>
	{{ form.csrf_token }}

	<div class="form-group">
		<label for="title">Title</label>
		
		<!-- {{ form.title(class="form-control", placeholder="edit title") }} -->
		<input name="title" type="text" placeholder="{{ editpost.title }}" class="form-control">

		{{ editpost.title }}
	</div>

	<span class="error bg-danger">
		{% if form.title.errors %}
		{% for error in form.title.errors %}
		<div class="bg-danger">{{ error }}</div>
		{% endfor %}
		{% endif %}
	</span>

	<div class="form-group">
		<label for="description">Description</label>
		<!-- <pre> {{ form.description(class="form-control", rows="5", placeholder="edit description") }}</pre> -->
		<pre><textarea name="description" type="text" placeholder="{{ editpost.description }}" class="form-control" rows="3"></textarea></pre>
	</div>

	<span class="error bg-danger">
		{% if form.description.errors %}
		{% for error in form.description.errors %}
		<div class="bg-danger">{{ error }}</div>
		{% endfor %}
		{% endif %}
	</span>

	<button class="btn btn-lg btn-success" type="submit">Edit</button>
</form>

{% endblock %}